---
import "./Button.css";

interface Props {
  href?: string;
  variant?: "primary" | "dark" | "outline";
}

const { href = "#", variant = "primary" } = Astro.props;
---

<a href={href} class={`btn btn--${variant}`}>
  <slot />
</a>