---
import "./bottom.css";

import bottombg from "../../../assets/images/bottombg.png";
import bottom from "../../../assets/images/bottom.png";
---

<section class="bottom-section">

    <div
        class="bottom-banner"
        style={`background-image:url(${bottombg.src})`}
    >

        <img
            src={bottom.src}
            alt="Meditation"
            class="bottom-banner__girl"
        />

        <div class="bottom-banner__content">

            <div class="h4">
                "Taking care of your mental health
                is just as important as taking care
                of your physical health."
            </div>

        </div>

    </div>

</section>