---
import './section6.css';
import sersecform from "../../../assets/images/sersecform.png";
---
<section class="ser-section6">
        <div class="left">
            <div class="heading">
                <div class="hd2">Schedule Your Consultation</div>
               <div class="body-md">Our expert team is here to listen, understand, and guide you.</div> 
            </div>
            <div class="form">
                    <input type="text"  placeholder="Name" />
                    <input type="email"  placeholder="Email" />
                    <input type="number"   placeholder="Phone number"/>
                    <textarea name="" id=""  placeholder="Message..." rows="3" ></textarea>
            </div>
            <div class="button">
                <button class="button-lg">Submit</button>
            </div>
        </div>
        <div class="right">
            <img src={sersecform.src} alt="" srcset="">
        </div>
</section>