---
import "./section2.css";
import image1 from "../../../assets/images/sersec2.png";
import image2 from "../../../assets/images/sersec22.png";

---

<section class="ser-section2">
<div>
    <img src={image1.src} alt="" srcset="">
</div>
<div class="ser-sec-right">
    <div class="text">
        <div class="hd2">Transformative <br> Wellness</div>
        <div class="body-md">Personalized one-on-one sessions to <br> understand your unique needs.</div>
    </div>
    <div class="image">
            <img src={image2.src} alt="" srcset="">

    </div>
</div>
</section>