---
import "./section4.css";
import videoImage from "../../../assets/images/sersec41.png";
import bgimage from "../../../assets/images/sersec42.png";
import icon from "../../../assets/images/sersec43.png";
import bottomImg from "../../../assets/images/sersec44.png";
---
<section class="ser-section4">
    <div class="top">
        <div class="hd2">Your Path To Wellness</div>
        <div class="body-md">Understand the foundational role mental wellness plays in our daily lives.</div>
    </div>
    <div class="bottom">
        <div class="left">
            <img src={videoImage.src} alt="" srcset="">
        </div>
        <div class="right"   style={`background-image: url(${bgimage.src});`}
>
            <!-- <img src={bgimage.src} alt=""> -->
             <div><img src={icon.src} alt=""></div>
             <div class="h5">Experienced Team</div>
             <div class="body-md">We specialize in treating a wide range of mental health conditions, from anxiety and depression to trauma and relationship changes.</div>
        </div>
    </div>
</section>