body {
  color: var(--color-text);
  background: var(--color-white);
      -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

main {
  overflow: hidden;
}