---
import "./section9.css";
import image91 from "../../../assets/images/Image91.png";
import image92 from "../../../assets/images/Image92.png";
---

<section class="section9">
    <div class="section9-header">
        <div class="hd2">
            Our Experts With Our Happy Patients
        </div>
        <div class="body-md">
            Our dedicated mental health experts are commited to providing compassionate care,<br>guidance, and support for your emotional well-being.
        </div>
    </div>
   <div class="section9-main">
  <div class="section9-card left">
    <img src={image91.src} alt="Ask to Our Specialists" />

    <div class="section9-overlay"></div>

    <h3 class="hd3">Ask to Our Specialists</h3>

    <span class="icon">→</span>
  </div>

  <div class="section9-card right">
    <img src={image92.src} alt="Get to Know Us" />

    <h3 class="hd3">Get to Know Us</h3>

    <span class="icon">→</span>
  </div>
</div>
</section>