---
import "./section1.css"
---

<section class="ser-section1">
    <div class="ser-section1-main">
        <div class="h2">Services</div>
        <div class="body-md">Your mental health matters, and seeking help is a step towards ahealthier and more fulfilling life.</div>
    </div>
</section>