---
import "./about.css";
import yoga from "../../../assets/images/yoga.svg";
import vabout from "../../../assets/images/vabout.svg";
---

<section class="about">
                <img class="bg-img" src={vabout.src}  alt="" srcset="" />

    <div class="about-left">

        <div class="about-main">
            <div class="img">
                <img src={yoga.src} alt="logo1" class="" />
            </div>
        </div>
    </div>
    <div class="about-right">
        <div class="rows">
                 <div>
            <p class="hd2">Empowering Your Mental <br />Health Journey</p>
        </div>
        <div>
            <p class="body-md">
                Your well-being matters. Let's work together to nurture your
                mind,<br />
                strengthen your heart, and empower your journey towards a happier,
                <br />
                helthier you.
            </p>
        </div>
        <div>
            <p class="body-md">
                Your mental helth journey is personal, unique, and deserving of <br
                />
                care and attention.
            </p>
        </div>

        </div>
       
        <button class="button-lg"> More About Us </button>
    </div>
</section>
