---
import "./section5.css";
---
<section class="section5">
    <div class="first-row">
            <span class="hd2">Care For Your Mind And Well-Being</span>
            <span class="body-md">Our services are designed to manage stress, overcome emotional challenges, and build of mental resilience.</span>
    </div>
    <div class="second-row">
        <div class="fr">
            <p class="hd2">125k+</p>
           <span class="subtitle">Grateful Patients</span>
        </div>
        <div class="se">
              <p class="hd2">24+</p>
           <span class="subtitle">Mental Health Professionals</span>
        </div>
        <div class="th">
              <p class="hd2">12+</p>
           <span class="subtitle">Years of Experience</span>
        </div>
    </div>
</section> 