---
import "./section8.css";
import image81 from "../../../assets/images/Image81.png";
import image82 from "../../../assets/images/Image82.png";
import image83 from "../../../assets/images/Image83.png";

---

<section class="section8">
    <div class="section8-header">
        <span class="hd2">Insights And Support For Your Mental Well-Being</span>
        <span class="body-md">Prioritizing you health and wellness is more than just a trend, it's a commitment to living your best life.</span>
    </div>
    <div class="section8-main">
        <div>
            <img src={image81.src} alt="">
            <div class="h6">How to avoid common fitness injurie?</div>
            <div class="body-md">12 Jan 2025</div>
        </div>
        <div>
            <img src={image82.src} alt="">
            <div class="h6">How to avoid common fitness injurie?</div>
            <div class="body-md">12 Jan 2025</div>
        </div>
        <div>
            <img src={image83.src} alt="">
            <div class="h6">How to avoid common fitness injurie?</div>
            <div class="body-md">12 Jan 2025</div>
        </div>
    </div>
    <div class="section8-buttons">
        <button class="button-lg">View All Blogs</button>
    </div>
</section>