---
import SEO from "../components/common/SEO.astro";


import Header from "../components/layout/Header/Header.astro";

import "../styles/reset.css";
import "../styles/variables.css";
import "../styles/typography.css";
import "../styles/globals.css";
import "../styles/utilities.css";

interface Props {
  title?: string;
  description?: string;
}

const {
  title,
  description,
} = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <SEO title={title} description={description}  />

  <title>{title}</title>
  <meta name="description" content={description} />
</head>

<body>
  <Header />
  <slot />
  <!-- <Footer /> -->
</body>
</html>