---
import "./section10.css";
import sectionBg from "../../../assets/images/section10.png";
---

<section class="section10">
    <div
        class="section10-card"
        style={`background-image:url(${sectionBg.src})`}
    >
        <div class="section10-left">
            <h2 class="hd2">
                Connect, Share, And
                <br />
                Thrive
            </h2>
        </div>

        <div class="section10-right">
            <div class="body-md">
                Building meaningful connections can be a powerful step toward
                mental well- <br>being. We offer safe and supportive spaces where you
                can share <br> your experiences, learn from others, and feel
                understood.
            </div>
            <div>
            <button class="button-lg">Book Appointment</button>

            </div>
        </div>
    </div>
</section>
